@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nosifer&family=Pacifico&family=Roboto:wght@300;400;500;700&display=swap');
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

body {
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Nosifer', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
}

:root {
    --height-nav: 70px;
    --background-color-hero: #fe5c60;
    --color-text-verdeCielo: #067672;
    --color-texto-azul: #2446de;
    --color-texto-blanco: #fff;
    --color-texto-azulpastel: #13436d;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}

.hero__container {
    margin: 0 auto;
}


/*-------------------------------------------------------------*/


/* INICIO MODAL*/


/*-------------------------------------------------------------*/

.modal-container {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 30%;
    height: 70%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius: 10px;
    /* overflow: hidden; */
}

.close {
    margin: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: var(--background-color-hero);
    color: #FFE6FA;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.modal-close {
    transform: translateY(-200%);
}


/*-------------------------------------------------------------*/


/* FIN MODAL*/


/*-------------------------------------------------------------*/


/*-------------------------------------------------------------*/


/* INICIO CABECERA */


/*-------------------------------------------------------------*/

.hero__fixed {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

.message {
    height: 30px;
    text-align: center;
    background: var(--color-texto-azulpastel);
    display: flex;
}

.message__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__message--tex {
    font-family: 'Luckiest Guy', cursive;
    color: var(--background-color-hero);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.nav__icon {
    width: 40px;
    height: 40px;
    fill: var(--color-texto-blanco);
}

.nav__logo--name {
    color: var(--color-texto-blanco);
    font-size: 2.4rem;
    font-weight: 700;
    font-family: 'Nosifer', cursive;
}

.nav {
    background: var(--background-color-hero);
    height: var(--height-nav);
    color: var(--color-text-blanco);
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    color: var(--color-texto-blanco);
    font-weight: bold;
    text-decoration: none;
    margin-left: 1em;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 0.1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: all .6s ease;
}

.nav__link:hover {
    color: var(--color-texto-azulpastel);
}

.nav__link:last-child {
    border: 4px solid var(--color-texto-blanco);
    padding: 10px 20px;
    background-color: var(--color-texto-blanco);
    border-radius: 40px;
    color: var(--background-color-hero);
}

.nav__link:hover:last-child {
    border: 4px solid var(--color-texto-blanco);
    background-color: var(--background-color-hero);
    color: var(--color-texto-blanco);
}

.hero__container {
    background-image: url(../img/HeroimgDos.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 70px;
}

.hero__texts {
    color: var(--color-texto-azulpastel);
    font-size: 4.4rem;
    text-align: center;
    padding-bottom: 0;
}

.hero__title {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 22.96;
    margin-bottom: 20px;
}

.hero__cta {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.cta:nth-of-type(1) {
    border: 4px solid var(--color-texto-blanco);
    padding: 10px 70px 10px 70px;
    background-color: var(--color-texto-blanco);
    border-radius: 40px;
    color: var(--background-color-hero);
    text-decoration: none;
    margin: 10px;
    font-weight: 700;
    transition: all .6s ease;
}

.cta:nth-of-type(2) {
    border: 4px solid var(--color-texto-blanco);
    padding: 10px 20px;
    background-color: var(--color-texto-blanco);
    border-radius: 40px;
    color: var(--background-color-hero);
    text-decoration: none;
    margin: 10px;
    font-weight: 700;
    transition: all .8s ease;
}

.cta:nth-of-type(1):hover {
    border: 4px solid var(--color-texto-blanco);
    background-color: var(--background-color-hero);
    color: var(--color-texto-blanco);
}

.cta:nth-of-type(2):hover {
    border: 4px solid var(--color-texto-blanco);
    background-color: var(--background-color-hero);
    color: var(--color-texto-blanco);
    transition: all .8s ease;
}


/*-------------------------------------------------------------*/


/* FIN CABECERA */


/*-------------------------------------------------------------*/


/*-------------------------------------------------------------*/


/* INICIO SECCION PRODCUTOS */


/*-------------------------------------------------------------*/

.products {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    /* background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%); */
}

.products__section {
    text-align: center;
    font-size: 4.0rem;
    color: var(--color-texto-blanco);
    font-weight: bold;
}

.products__title {
    margin-bottom: 12px;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 0px 1px 7px rgba(206, 89, 55, 0.67);
}

.products__paragraph {
    font-family: 'Pacifico', cursive;
    text-shadow: 0px 1px 7px rgba(206, 89, 55, 0.67);
}

.seccion__container {
    width: 100%;
    max-width: 1280px;
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    overflow: hidden;
}

.seccion__container .card {
    position: relative;
    width: 330px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 4.0rem;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
}

.seccion__container .card:hover .overlay {
    transform: translatex(0);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 81, 181, 0.776);
    transform: translatex(-100%);
    transition: transform 300ms ease;
    margin-top: auto;
}

.overlay>p {
    color: #fff;
    padding: 10px;
    margin: 20px 10px;
    font-size: 1.9rem;
    font-weight: bold;
}

.seccion__container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.seccion__container .card img {
    width: 330px;
    height: 330px;
}

.seccion__container h4 {
    font-weight: 700;
}

.seccion__container p {
    padding: 0 1rem;
    font-size: 1.6rem;
    font-weight: 300;
}

.card__cta {
    border: 4px solid var(--background-color-hero);
    display: inline-block;
    background: var(--background-color-hero);
    padding: 1px 10px;
    text-decoration: none;
    color: var(--color-texto-blanco);
    font-size: 3.0rem;
    border-radius: 50px;
    font-weight: 400;
    margin-top: auto;
}

.card__cta:hover {
    background-color: var(--color-texto-blanco);
    color: var(--background-color-hero);
    font-weight: 700;
}

.card__title {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}

.card_paragraph {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}


/*-------------------------------------------------------------*/


/* FIN SECCION PRODUCTOS */


/*-------------------------------------------------------------*/


/*-------------------------------------------------------------*/


/* inicio seccion How it’s made */


/*-------------------------------------------------------------*/

.made {
    background-image: url(../img/imgFondoleche.jpg);
    background-repeat: no-repeat;
    background-size: conver;
    height: 100%;
    background-position: center top;
}

.made__article {
    margin-top: 100px;
    text-align: center;
    font-size: 4.0rem;
    color: var(--background-color-hero);
    font-weight: bold;
}

.made__title {
    margin: 0;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 0px 1px 7px rgba(206, 89, 55, 0.67);
}

.made__sello {
    font-family: 'Pacifico', cursive;
    text-shadow: 0px 1px 7px rgba(206, 89, 55, 0.67);
}

.made__box {
    margin-top: 3.8em;
    width: 50%;
    height: 600px;
    float: left;
    /* border: 2px solid chartreuse; */
    padding: 0;
    text-align: justify;
    font-size: 1.3rem;
    font-weight: 500;
}

.made__paragraph {
    margin-bottom: 51px;
    padding: 10px 40px 2px 40px;
    margin-bottom: 26px;
}

.made__subtitle {
    font-size: 3.5rem;
    margin-bottom: 0;
    font-family: 'Luckiest Guy', cursive;
}

.made__cta {
    border: 4px solid var(--background-color-hero);
    padding: 10px 20px;
    background-color: rgb(112, 198, 255);
    border-radius: 40px;
    color: var(--background-color-hero);
    text-decoration: none;
}

.made__cta:hover {
    border: 4px solid rgb(112, 198, 255);
    background-color: var(--background-color-hero);
    color: rgb(112, 198, 255);
}

.made_box--img {
    padding-top: 0;
}

.made__figure {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    margin: 0;
}

.made__img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.made__box--modificador {
    background-color: #f7a6f5;
    display: flex;
    flex-direction: column;
    align-items: center
}


/* --------------box-------------*/

.box {
    width: 50%;
    height: 600px;
    float: left;
    padding: 0;
    text-align: justify;
    font-size: 1.52rem;
    font-weight: 500;
}

.box--modificador {
    display: block;
    margin: 0 auto;
    background-color: #5de0f0;
    text-align: center;
    padding: 135px 70px;
}

.made__subtitle--modi {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3.2rem;
}

.box__paragraph {
    font-size: 2.2rem;
    font-weight: 400;
}


/* --------------box-------------*/


/*-------------------------------------------------------------*/


/* fin seccion How it’s made */


/*-------------------------------------------------------------*/