/*Preestablecido por Cristian*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nosifer&family=Pacifico&family=Roboto:wght@300;400;500;700&display=swap');
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

body {
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Nosifer', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

/* Variables de colores */
:root {
    --height-nav: 70px;
    --background-color-hero: #fe5c60;
    --color-text-verdeCielo: #067672;
    --color-texto-azul: #2446de;
    --color-texto-blanco: #fff;
    --color-texto-azulpastel: #13436d;
}


/*Contacts section*/
 /*fondo*/
.bg-c{
    background-color: var(--background-color-hero);
}
.title-c {
    color: var(--color-texto-blanco);
    font-family: 'Luckiest Guy', cursive;
    font-size: 3rem;
    text-align: center;
    padding: 10rem;
    padding-top: 10rem;
}
.button-c {
    color: var(--color-texto-blanco);
    background-color: var(--color-text-verdeCielo);
    font-size: 2.4rem;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.button-c:focus,
.button-c:hover {
  color:var(--background-color-hero);
}
.button-c:visited {
    text-decoration: none;
}


/*Footer*/


.f-bg {
    background-color: orange;
}