/*Preestablecido por Cristian*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nosifer&family=Pacifico&family=Roboto:wght@300;400;500;700&display=swap');
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

body {
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Nosifer', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    
    justify-content: center;
}

.background-c {
    background-color: var(--background-color-hero);
}

/* Variables de colores */
:root {
    --height-nav: 70px;
    --background-color-hero: #fe5c60;
    --color-text-verdeCielo: #067672;
    --color-texto-azul: #2446de;
    --color-texto-blanco: #fff;
    --color-texto-azulpastel: #13436d;
    ---color-texto-negro: #000;
}


/*Contacts section*/
 /*fondo*/
.bg-c{
    background-color: var(--background-color-hero);
    padding: 2rem;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-c {
    color: var(--color-texto-blanco);
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    text-align: center;
    border: 2px dashed var(--color-texto-blanco);
    padding: 1rem;
    display: flex;
    justify-content: center;
    }
.t-top {
    padding-top: 1rem;
}
address {
    color: var(--color-texto-azulpastel);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-style: normal;
    cursor: copy;
    padding: 1rem;
    margin: 1rem;
}

address:last-child {
    padding-bottom: 1rem;
}

.cnt {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;

}
.link-c {
    color: var(--color-texto-azulpastel);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
   
}
.link-c:hover{
    color: var(--color-texto-blanco);
}

.button-c {
    color: var(--color-texto-blanco);
    background-color: var(--color-text-verdeCielo);
    font-size: 2rem;
    justify-content: center;
    font-family: 'Luckiest Guy', cursive;
    cursor: pointer;
    border: 0rem;
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1rem;

}
.button-c:focus,
.button-c:hover {
  color:var(---color-texto-negro);
}
.button-c:visited {
    text-decoration: none;
}

.button-lft{
    padding-left: 1rem;
    margin-left: 1rem;

}

/*Iconos*/
/* Pagina que use para traducir el hex a filtro: https://isotropic.co/tool/hex-color-to-css-filter/ */
/*no funciono aplicarle clase a los svg para cambiarles el color*/
/* Pagina de svgs gratis: https://www.svgrepo.com/svg/183616/pinterest */
.icon {
    filter: invert(36%) sepia(19%) saturate(3418%) hue-rotate(140deg) brightness(88%) contrast(95%);
    width: 3rem;
    height: auto;
    text-align: center;
    margin-right: 1rem;

}



/*Footer*/
.f-bg {
    background-color: var(--color-texto-azulpastel);
    padding: 2rem;
    display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  

}

@media screen and (max-width:768px) {
    body{
        background: violet;
    }
    
    .container{
        max-width: 748px;    }
    
    .footer-bg, .f-bg, .container {
        flex-wrap: wrap;

    }
        
    }
        .review .slick_parent {
            width: 80%;
            margin: 1.2rem 0rem;
        }

@media screen and (max-width:480px) {
    body{
        background: yellow;
    }
    .container {
        max-width: 460px;
    }
}



/* Nuevo espacio d eresponsive*/ 
.link-f {
    color: var(--background-color-hero);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
}
.link-f:hover{
    color: var(--color-texto-blanco);
}
.footer-bg {
    background-color: var(--color-texto-azulpastel);
    

}